<% provide(:title, @vote.title) %>
<h1>Poll#: <%= @vote.id %> | <%= @vote.title %></h1>
<div class="row">
    This vote will close at <%= @vote.deadline %>
</div>
<div class="row">
    <%= link_to 'Edit', edit_vote_path, class: 'btn btn-primary' %>
    <%= link_to 'back', votes_path, class: 'btn btn-light' %>
</div>